
.header {
    border-bottom:1px solid $header-border-color;
    color: $bold-text-color;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding: 16px 0;
   }
.container--flex{
  display: flex;
  align-items: center;
}
.nav, .contacts{
    display: none;
}

// .nav {
//     margin-left: 95px;
// }
// .nav__list{
// display: flex;
// }

// .nav__link{
//     position: relative;
//     display: block;
//     padding: 32px 0;
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     &:visited{
//         color:$bold-text-color;
//     }
//     &:hover,&:focus,&.current{
//         color:$accent-color;
//     }
//       }
// .nav__item:not(:last-child){
//         margin-right: 50px;
// }

// .contacts{
//     display: flex;
//      margin-left: auto;
    
//     &__icon{
//         width: 16px;
//         height: 16px;
//         margin-right: 10px;
//     }
//    }
// .contacts__item{
            
//     &:not(:last-child) {
//         margin-right: 30px;
//     }
// }
// .contacts__link{
//     display: flex;
//     align-items: center;
//     fill: currentColor;
//     color: $main-text-color;
//     padding: 32px 0;
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
//     &:visited {
//         color: $main-text-color;
//     }
//     &:hover,&:focus{
//         color: $accent-color;
//         fill: $accent-color;
//     }

// }


